:root{
    /* color */
    --color-blue:#340CD8;
    --color-cyan:#00C2FF;
    --color-yellow:#FFE600;
    --color-blue-2:#998AD2;
    /* linear-gradient */
    --color-linear-gradient:linear-gradient(45deg,var(--color-blue),var(--color-cyan));
    /* text-color */
    --text-black:#000;
    --text-gray:#3C5458;

     /**
        /* Typographique
    */

    /* Font family*/
    --fontFamily-poppins: 'Poppins', sans-serif;
    
    /* Font size*/
    --fontSize-1:4rem;
    --fontSize-2:3.2rem;
    --fontSize-3:2.4rem;
    --fontSize-4:2rem;
    --fontSize-5:1.8rem;
    --fontSize-6:1.6rem;
    --fontSize-7:1.4rem;

    /* Font weight*/
    --weight-Light:300;
    --weight-Regular:500;
    --weight-SemiBold:600;
    --weight-Bold:700;

    

}

*,::before,
::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    transition:0.2s linear;
    outline:none;
    border:none;

}

.header{
    display: flex;
   background:var(--color-linear-gradient);
   position: sticky;
   z-index: 300;
   top: 0;
   box-shadow: 0px 5px 10px;
   gap: 30%;
   
}


.header .nav .navItems a{
    text-decoration: none;
    color: #ffffff;
    font-family:var(--fontFamily-poppins) ;
   
    
}
.navItems{
    display: flex;
    gap: 20px;
   
    
}
li{
    list-style: none;
}

.contenair-heropage{
    background-color: #aea0e3;
    box-shadow: 0px 5px 15px;
    padding: 50px;
}

.contenair-hero{
    display: flex;
    margin:0px 80px;
    margin-top: 15px;
   
}

.hero-left h1{
   font-size: var(--fontSize-3);
   font-weight:var(--weight-Bold) ;
   font-family: var(--fontFamily-poppins);
   color: var(--color-blue);
   

}

input[ type="email"]{
    border: 1pt solid var(--color-blue);
    border-radius: 5px;
}

.contenair-apropos{
    margin-top: 60px;
    
}

.contenair-apropos h1{
    font-family: var(--fontFamily-poppins);
    text-align: center;
}

input[type="submit"]{
    border:1px solid var(--color-blue);
    border-radius:5px;
    background: var(--color-linear-gradient);
    padding: 5px;
    color: rgb(255, 241, 241);
}
.bloc-apropos{
    margin-top:50px;
    display: flex;
    gap: 10%;
    font-family: var(--fontFamily-poppins);
    
   

    
}

.block-right{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(226px,1fr));
    
    
}

summary{
    background: var(--color-blue);
    margin-top: 20px;
    padding: 15px;
    color: #f6f6f6;
    user-select: none;
    list-style: none;
    font-family: var(--fontFamily-poppins);

}

details{
    background-color: #f6f6f6;
    border-radius: 50px;
    box-shadow: 0px 5px 10px;
    margin: 20px 45px;
    font-family: var(--fontFamily-poppins);
}


details p{
    padding:20px;
    
}
details summary::before{
        content:"🚀";
        display: inline-block;
        transition: transform 0.4s ease-out ;
}

details[open] summary::before{
    transform: rotate(390deg);
}

details[open] summary{
    background:var(--color-cyan)
}


.contenair-nosservices{
    display: grid;
   background: var(--color-linear-gradient);
    clip-path: polygon(0% 5%,100% 0%,100% 95%,0% 100%);
    margin-top: 20px;
    padding: 88px 10px 120px;
    font-family: var(--fontFamily-poppins);
    
}

.contenair-nosservices h1{
    text-align: center;
    color: #ffffff;
   text-shadow: 0px 5px 10px rgb(2, 2, 2);
}

.bloc{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 90px; 
    gap: 20px;
}

.bloc-box2:hover{
    transform: scale(1.03);

}
.bloc-box2{
    display: flex;
    background: #f6f6f6;
    border: solid 1px;
    border-radius: 5px;
    padding: 30px;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   box-shadow: 0px 3px 10px;
   
}

input[type="submit"]{
    background: var(--color-blue);
    width: 150px;
    height:40px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    font-family: var(--fontFamily-poppins);
    
}

input[type="submit"]:hover{
    letter-spacing: 1px;
    background: var(--color-cyan);
}
.contenair-contact{
    text-align: center;
}




